<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--无参构造-->
    <bean id="user" class="com.kuang.pojo.User">
        <property name="name" value="cs"/>
    </bean>

    <!--有参构造-->
    <bean id="user1" class="com.kuang.pojo.User">
        <constructor-arg name="name" value="cs"/>
    </bean>
</beans>